/* Primary Header */
.header {
  &__wrapper {
    @extend .flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 65px;
    margin: 0 auto;
    max-width: 90vw;
  }
  &__logo-wrapper {
    position: relative;
    width: 120px;
    height: 30px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
  &__toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 0;
    cursor: pointer;
  }
  &__toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close-menu.svg");
  }
  &__primary-nav {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-out;

    &[data-visible="true"] {
      transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(1rem)) {
      & {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
      }
    }
    @include mq($from: desktop) {
      --gap: clamp(1.5rem, 5vw, 3rem);
      flex-direction: row;
      justify-content: space-around;
      position: static;
      background: #fff;
      backdrop-filter: none;
      height: 70px;
      transform: translateX(0);
      padding: 1rem 2rem;
    }
  }
  &--mobile {
    display: block;
    @include mq($from: desktop) {
      display: none;
    }
  }
  &__nav-item {
    @extend .flex;
    flex-direction: row;
    color: $theme-gray;
  }
  &__submenu-nav {
    transition: $theme-transition;
    &[data-visible="false"] {
      height: 0;
      opacity: 0;
      visibility: hidden;
      margin-bottom: 0;
    }
    &[data-visible="true"] {
      opacity: 1;
      visibility: visible;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &__nav-toggle {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &:focus,
    &:hover {
      outline: none;
    }
    img {
      transition: $theme-transition;
    }
    &[aria-expanded="true"] {
      img {
        transform: rotate(180deg);
      }
    }
    &[aria-expanded="false"] {
      img {
        transform: rotate(0);
      }
    }
  }
}
