@import "./node_modules/sass-mq/mq";

body {
  height: 97vh;
  color: var(--white);
  background-color: var(--black);
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.sr-only {
  border: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  float: left;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.text-white {
  color: var(--white);
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.uppercase {
  text-transform: uppercase;
}

/* Primary Header */
.header {
  &__wrapper {
    @extend .flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 65px;
    margin: 0 auto;
    max-width: 90vw;
  }
  &__logo-wrapper {
    position: relative;
    width: 120px;
    height: 30px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
  &__toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 0;
  }
  &__toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close-menu.svg");
  }
  &__primary-nav {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-out;

    &[data-visible="true"] {
      transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(1rem)) {
      & {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
      }
    }
    @include mq($from: desktop) {
      --gap: clamp(1.5rem, 5vw, 3rem);
      flex-direction: row;
      justify-content: space-around;
      position: static;
      background: #fff;
      backdrop-filter: none;
      height: 70px;
      transform: translateX(0);
      padding: 1rem 2rem;

      & a > span[aria-hidden] {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: $theme-black;

      &[aria-hidden="true"] {
        font-weight: $theme-medium;
        margin-right: 0.75em;
      }
    }
  }
  &--mobile {
    display: block;
    @include mq($from: desktop) {
      display: none;
    }
  }
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  background: hsl(0 0% 0% /0.5);
}

.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(1rem);
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}
