.header {
  &__wrapper {
    position: relative;
    @extend .flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin: 0 auto;
    max-width: 90vw;

    @include mq($from: desktop) {
      justify-content: flex-start;
      height: 80px;
      max-width: 1368px;
    }
  }
  &__logo-wrapper {
    position: relative;
    width: 120px;
    height: 30px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
  &__toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 0;
    cursor: pointer;
  }
  &__toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close-menu.svg");
  }
  &__primary-nav {
    --gap: 2.5rem;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 36%;

    flex-direction: column;
    padding: 5rem 1.5rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    background-color: #fff;

    &[data-visible="true"] {
      transform: translateX(0%);
    }

    @include mq($from: desktop) {
      --gap: clamp(1.5rem, 5vw, 3rem);
      flex-direction: row;
      justify-content: space-between;
      position: static;
      backdrop-filter: none;
      height: 70px;
      transform: translateX(0);
      padding: 1.25rem 0;
      width: 100%;
    }
  }
  &--mobile {
    display: block;
    @include mq($from: desktop) {
      display: none;
    }
  }
  &__menu-wrapper {
    --gap: 0;
    @extend .flex;
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
    }
    &:first-child > li:not(:last-child) {
      margin: 15px 0;
      @include mq($from: desktop) {
        margin: 0 0 0 36px;
      }
    }
    @include mq($from: desktop) {
      &:first-child > li:last-child {
        margin-left: 36px;
      }
    }

    &--user {
      --gap: 1rem;
      align-items: center;
    }
  }
  &__nav {
    &-item {
      --gap: 1rem;
      @extend .flex-inline;
      flex-direction: row;
      color: $theme-gray;
      @include mq($from: desktop) {
        --gap: 0.25rem;
        justify-content: flex-end;
      }
    }
    &-item--register {
      width: 100%;
    }
    &-item--submenu {
      align-items: center;
      @include mq($from: desktop) {
        justify-content: flex-start;
      }
    }
    &-item--submenu > &-icon {
      margin-right: 10px;
    }
  }
  &__submenu-nav {
    position: relative;
    transition: $theme-transition;
    margin-left: 20px;

    @include mq($from: desktop) {
      position: absolute;
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &[data-visible="false"] {
      height: 0;
      opacity: 0;
      visibility: hidden;
      margin-bottom: 0;

      @include mq($from: desktop) {
        margin-top: 0;
      }
    }
    &[data-visible="true"] {
      opacity: 1;
      visibility: visible;
      margin-top: 20px;
      @include mq($from: desktop) {
        background-color: $theme-white;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px hsl(0deg 0% 0% / 30%);
      }
    }
    & > li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__nav-toggle {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &:focus,
    &:hover {
      outline: none;
    }
    img {
      transition: $theme-transition;
    }
    &[aria-expanded="true"] {
      img {
        transform: rotate(180deg);
      }
    }
    &[aria-expanded="false"] {
      img {
        transform: rotate(0);
      }
    }
  }
}
