.hero {
  margin-top: 20px;
  margin-bottom: 60px;

  &__wrapper {
    @extend .flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;

    @include mq($from: desktop) {
      flex-direction: row-reverse;
      max-width: 82vw;
    }
  }
  &__img-wrapper {
    position: relative;
    padding-top: 77.86%;
    margin-bottom: 48px;
    overflow: hidden;

    @include mq($from: desktop) {
      width: 484px;
      padding-top: 45%;
      margin-left: auto;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__text {
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;

    @include mq($from: desktop) {
      max-width: 100%;
      margin: 0 0 0 35px;
      text-align: left;
    }
  }
  &__heading {
    color: $theme-black;
    margin-bottom: 24px;
  }
  &__copy {
    margin-bottom: 32px;
  }
  &__button {
    color: $theme-white;
  }
}
.heading {
  font-weight: $theme-bold;
  &--h1 {
    font-size: 34px;
    line-height: 120%;
  }
}
.btn {
  border-radius: 20px;
  background-color: transparent;

  &--outline {
    padding: 10px 55px;
    border: solid 1px $theme-gray;
  }
  &--background {
    padding: 18px 25px;
    border: solid 1px $theme-black;
    background-color: $theme-black;
  }
}
