// Colors
$theme-white: hsl(0, 0%, 98%);
$theme-black: hsl(0, 0%, 8%);
$theme-gray: hsl(0, 0%, 41%);
$theme-tr-black: hsl(0 0% 0% /0.5);

// Font
$font-family: "Epilogue", sans-serif;
$font-size: 18px;
$theme-medium: 500;
$theme-bold: 700;

// Transition
$theme-transition: all 400ms, 400ms ease;
