@import "./node_modules/sass-mq/mq";
@import "utils/variables";
@import "utils/reboot";

body {
  height: 97vh;
  color: $theme-gray;
  background-color: var(--black);
  font-size: $font-size;
  font-family: $font-family;
  overflow-x: hidden;
}
.body {
  transition: $theme-transition;
  &--overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $theme-tr-black;
  }
}

.sr-only {
  border: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  float: left;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.text-white {
  color: var(--white);
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.uppercase {
  text-transform: uppercase;
}

@include mq($from: tablet) {
  h1 {
    color: $theme-black;
  }
}

@import "components/header";
@import "components/hero";
